<center>
	<div id="login-box" >
		<form name="loginform" >
			<div id="synerzen-logo" style="background: url(images/login_logo.png) no-repeat center top;">
			<font size="3" color="white" face="serif">Enter your Employee ID and password to sign in</font> 
				<font size="3" color="White" face="serif">
				<div id="result_failed" align="center" ></div>
				</font>
				<div id="login-box-name" style="margin-top: 20px;" >Employee ID:</div>
					<div id="login-box-field" style="margin-top: 20px;">
						<div id="effect">
							<input id="username" name="username" class="form-login" title="Username"
							value="" size="30" maxlength="2048" /> </div>
							<font size="3" color="White" face="serif"><div id="result_userName" align="center" ></div></font>
						</div>
						<div id="login-box-name">Password:</div>
						<div id="login-box-field">
							<div id="pass_effect">
								<input id="password" name="password" type="password" class="form-login"
								title="Password" value="" size="30" maxlength="2048" /></div>
								<font size="3" color="White" face="serif"><div id="result_password" align="center" ></div></font>
							</div>
						</div>
						<br /> <br /> <br />
						<table><tr><td><input type="button" value=""
							style="background: url('images/login-btn.png') no-repeat top left; width: 103px; height: 43px; margin-left: 90px; border: none;"  onclick="validateForm()"/></td>

						</tr>
					</table> 

				</form>
			</div>
		</div>
	</div>
</center>