<h3 class="text-center">Invoice</h3>

<div class="row">
    <div class="col-md-3">
        <label> Invoice Id :  </label>
        <label class="form-control" ng-disabled="true">{{invoice.invoiceId}}</label>
    </div>
    <div class="col-md-3">
        <label>Invoice Date :  </label>
        <label class="form-control" ng-disabled="true">{{invoice.invoiceDate}}</label>
    </div>
    <div class="col-md-3">
        <label>Status :  </label>
        <label class="form-control" ng-disabled="true">{{invoice.invoiceStatus}}</label>
    </div>

    <div class="col-md-3">
          <label>Customer :  </label>
          <select class="form-control" ng-model="invoice.party" ng-change="Customer=invoice.party"  ng-options="Customer as Customer.EPName for Customer in EPMasterContent" >
            <option value="">--Select Customer --</option>
          </select>
          <label class="hidden" ng-disabled="!Customer.EPCode">{{Customer.EPCode}}</label>
    </div>

</div>

<br>
<div class="jumbotron">
   <!-- <div class="pull-right"><h3><a ng-click="removeAll()">Reset to default</a></h3></div> -->
<div class="well ">
    <div class="col-md-2">
        <select class="form-control" ng-model="newItem.name" ng-change="item = newItem.name" ng-options="item as item.ItemDesc for item in itemMasterContent">
        <option value="">--Select Item --</option>
        </select>
    </div>
    <div class="col-md-1">
        <!-- <tr><input type="text" ng-model="newItem.name" size="20" placeholder="name"></tr> -->
        <label class="form-control" ng-disabled="!item.FixedCost">{{item.FixedCost}}</label>
    </div>

    <div class="col-md-2">
        <input class="form-control" type="text" ng-model="newItem.quantity" placeholder="Quantity">
    </div>

    <div class="col-md-2">
        <input class="form-control" type="text" ng-model="newItem.discount" placeholder="Discount">
    </div>

    <div class="col-md-2">
      <select class="form-control" ng-model="newItem.tax" ng-change="tax = newItem.tax "  ng-options="tax as tax.TaxDisc for tax in taxContent">
        <option value="">--Add Tax--</option>
      </select>
    </div>

    <div class="col-md-1">
      <label class="form-control" ng-disabled="!tax.AmtOrPerc">{{tax.AmtOrPerc}}%</label>
    </div>
    
    <div class="col-md-1">
        <button class="btn btn-info" ng-click="addItem(newItem)"><i class="fa fa-plus-square-o fa-lg"></i></button>
    </div>

</div>

   
   <br>
   <div class="row marketing">
      <table width="100%" class="table table-hover table-bordered table-responsive ">
         <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>TaxType</th>
            <th>TaxRate</th>
            <th>TaxAmount</th>
            <td>Total</td>
            <th>Action</th>
         </thead>
         <tbody>
            <tr ng-repeat="item in listOThings">
               <td>{{ item.id }}</td>
               <td>{{ item.name }}</td>
               <td>{{ item.price }}</td>
               <td>{{ item.quantity }}</td>
               <td>{{ item.discount }}</td>
               <td>{{ item.taxName }}</td>
               <td>{{ item.taxRate }}</td>
               <td>{{ item.taxAmount }}</td>
               <td>{{ item.total }}</td>
               <td>
                  <button ng-click="removeItem(item.id)" type="button" class="close" aria-hidden="true">&times;</button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
</div>

<div class="row">
<div class="col-md-3">
   <label >Total Quantity :</label>
   <label class="form-control">{{invoice.totalQuantity}}</label>
</div>

<div class="col-md-3">
   <label >Total Tax Amount :</label>
   <label class="form-control disabled">{{invoice.totalTaxAmount}}</label>
</div>
<div class="col-md-3">
    <label >Payment Mode :  </label>
    <select class="form-control" ng-model = "invoice.paymentMode">
    <option value="">-- choose --</option>
        <option>Credit Card</option>
        <option>Debit Card</option>
        <option>Cash</option>
        <option>Online Transfer</option>
   </select>
</div>
<div class="col-md-3">
   
       <label>Total</label>
   <label class="form-control">{{invoice.grandTotal}}</label>
    
</div>

<button class="btn btn-primary pull-right" ng-click="saveInvoice(invoice,listofthings)">Save</button>
</div>